/* Reset some default styles */
body, h2, p {
    margin: 0;
    padding: 0;
}

/* Set a background image */
body {
    margin: 0;
    padding: 0;
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif; /* Choose an appropriate font-family */
}

/* Center-align the heading and style it */
.heading {
    background-color: yellow;
    padding: 0.5em 0;
    text-align: center;
}

/* Style the textarea */
#txt-input {
    width: 100%;
    height: 10vh;
    padding: 1rem;
    margin: 1rem auto;
    display: block;
    max-width: 400px; /* Adjust the maximum width as needed */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the translation button */
#btn-translate {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

/* Style the translation output */
.translation {
    text-align: center;
    margin-bottom: 15px;
    color: aliceblue;
}

/* Style the output container */
#output {
    border: 1px solid white;
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    height: 10vh;
    position: relative;
    color: aliceblue;
}

/* Add media queries for responsiveness */
@media screen and (min-width: 768px) {
    .heading {
        font-size: 24px;
    }

    #txt-input {
        font-size: 18px;
    }

    #btn-translate {
        font-size: 18px;
    }

    .translation {
        font-size: 24px;
    }
}

/* Mobile-friendly input and button styles */
@media screen and (max-width: 768px) {
    #txt-input {
        width: 90%;
        font-size: 14px;
    }

    #btn-translate {
        width: 90%;
        font-size: 14px;
    }
}
